.header-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    background-image: url("https://dxaurk9yhilm4.cloudfront.net/images/7383/jael-rodriguez-AkF5NT0sZy8-unsplash-1-1_210301_200939_35d31212c7a2d4dccdff99afa3f88af5.jpg"); */
}
.nav{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}
.menubar{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left:450px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}
a.split {
    top:50px;
    float: right;
    font-size: 16px;
    padding: 25px;
    color: white;
}

a.logo{
    float:left;
    padding-left: 50px;
    padding-top: 50px;
} 

.back-video{
  position: absolute;
  right: 0;
  top:0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#video{
    width: 100%;
    height: 100%;
}
.paracontainer{

        width: 100vw;
        height: 25vh;
        display: flex;
        padding: 20px;
        /* border: 1px solid red; */
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
}
.paragragh{
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction:row;
    font-size: small;
    color:grey;
    justify-content: center;
    line-height: 10pt;
}
h1{
    text-align: center;
    font-size:45px;
    /* font-style:oblique; */
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    line-height: 26pt;
}
h2{
    margin-left:20px;
    margin-right: 250px;
    text-align: justify;

}
h3{
    margin-left: 20px;
    font-size:30px;
}
#textpara{
    padding:20px 20px;
    text-align: justify;
}

.container{
    width: 100vw;
    height: 140vh;
    display: flex;
    border: 1px solid red;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-self: space-evenly;

}

.whitebox{
    left:50px;
    width: 450px;
    height: 450px;
    /* border: 1px solid black; */
    z-index: 15;
    position: absolute;
    top: 150px;
    line-height: 26pt;
    text-align: justify;
 
}
.imgbox{
    left:600px;
    width: 45%;
    height: 600px;
    /* border: 1px solid red; */
    z-index: 15;
    position: relative;
    top: 0px;
    object-fit: cover;

}

.container1{
    width: 100vw;
    height: 120vh;
    display: flex;
    /* border: 1px solid black; */
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

}
.greybox1{
    width: 680px;
    height: 350px;
    /* border: 1px solid grey; */
    z-index: 1;
    position: absolute;
    left: 250px;
    background-color: grey;
    top: 220px;
}
.imgbox1{
    width: 80%;
    height: 550px;
    /* border: 1px solid red; */
    z-index: 15;
    position: absolute;
    right: 380px;
    top: 0px;
    object-fit: cover;
    background-color: red;
}
.whitebox1{
    width: 500px;
    height: 350px;
    border: 1px solid white;
    z-index: 16;
    position: absolute;
    right: 120px;
    top: 100px;
    line-height: 26pt;
    background-color: white;
    text-align: center;
    font-size: large;
    margin-left: 20px;
    margin-right:20px;
}
.container4{
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 1px solid pink; */
    position: relative;
    align-items: center;
}
.greybox4{
    width: 700px;
    height: 300px;
    border: 1px solid grey;
    z-index: 1;
    position: absolute;
    left: 300px;
    background-color: grey;
    top: 250px;
}
.imgbox4{
    width: 970px;
    height: 520px;
    /* border: 1px solid red; */
    z-index: 15;
    position: absolute;
    left: 350px;
    top: 0px;
    object-fit: cover;
    /* background-color: red; */
}
.whitebox4{
    width: 450px;
    height: 420px;
    z-index: 20;
    /* border:1px solid black; */
    position: absolute;
    right: 750px;
    top: 50px;
    line-height: 26pt;
    background-color: white;
    text-align: justify;
    font-size: large;
}
.container2{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.imgbox2{
    width: 100vw;
    height: 70vh;
    /* border: 1px solid red; */
    z-index:17;
    display: flex;
    position:absolute;
    background-image: url("https://dxaurk9yhilm4.cloudfront.net/images/139/img_5dabbd1a34149dcaed83515ff1526a0f.jpg");
    justify-content: center;
    align-items: center;
    object-fit: contain;

}

/* #imgId{
    width: 100%;
    height: 100%;
    z-index: -1;
    
} */
#h1Id{
    position: absolute;
    right: 500px;
    z-index: 5;
    color: white;
}
p{
    top:250px;
    display: flex;
    align-items: justify;
}

a{
    color:white;
}
a:hover {
    text-decoration: none;
}
a:link {
    text-decoration:none;
}
#h1video{
    position: absolute;
    top: 30%;
    width: 100%;
    left: 100px;
    text-align: left;
    font-size: 40px;
}
.footer{
    display: flex;
    flex-direction: row;
    width:100vw;
    height:55vh;
    background-color: darkslategray;
    justify-content: center;
    flex-wrap: wrap;
}
.copyright{
    width: 100%;
    height: 20%;
    color: white;
    display: flex;
    padding-left: 150px;
    align-items: center;
    opacity: 50%;
    font-size: small;
}
.child-img{
    width: 100%;
    height: 80%;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: left;
    /* align-items:center;
    align-content: flex-start;*/
    padding-left: 50px; 
    padding-top:50px;
}

.footercolumn{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: darkslategrey;
}
.child-footer{
    /* padding-top:50px; */ 

    width: 50%;
    height: 70%;
    display: flex;
    padding-top:50px;
    background-color: darkslategray;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;

}
.child-footer-new{
    width: 33.2%;
    height: 50%;
    color: white;
    flex-direction: column;
    display: flex;
    line-height: 26pt;
}
.footercopy{
    width:100vw;
    height:10%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: darkslategray;
}
.image{
    width: 100%;
    height: 80%;
    border: 1px solid blue;
    object-fit: contain;

}
.label{
    width: 100%;
    height: 20%;
    border: 1px solid rgb(0, 255, 30);
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#imgid{
    position: relative;
}
a{
    color:white;
    font-size: large;
}
a:hover {
    text-decoration: none;
}
a:link {
    text-decoration:none;
}
*{
    border: none;
    margin: none;
}

@media only screen and (min-width :360px) and (max-width :480px) {
    .main{
        background-color: aqua ;
        width: 100vw;
        height: auto;
    }
    .menubar{
        visibility: hidden;
    }
    .paracontainer{
        width:100%;
        height:50%
    }
    .container{
        width:120vw;
        height:auto;
        display:flex;
        flex-direction:column-reverse;
        z-index:-1;
        position: relative;
        border:1px solid black;
       
    }
    .imgbox{
        width:80%;
        height:500px;
        left:0px;
        border:1px solid black;
        display: flex;
        flex-direction: column;
        position: absolute;
        order:0;
        
    } 
     .whitebox{
        width:80%;
        height:530px;
        top:550px;
        border:1px solid black;
        order:2;
        left:0px;

    } 
    .container1{
        width: 100vw;
        height: auto;
        display: flex;
        border: 1px solid red;
        flex-direction: column;
        z-index:10;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    
    }
    .imgbox1{
        width: 80%;
        height: 550px;
        border: 1px solid blueviolet;
        z-index: 12;
        position: absolute;
        right: 580px;
        order:2;
        top: 0px;
        background-color:blue; 
        object-fit: contain;
    }
    .greybox1{
        width: 80%;
        height: 350px;
        border: 1px solid yellow;
        z-index: 15;
        position: absolute;
        order:1;
        left: 20px;
        background-color: grey;
        top: 220px;
    }
    .whitebox1{
        width: 70%;
        height: 350px;
        border: 1px solid maroon;
        z-index: 16;
        position: absolute;
        right: 420px;
        top: 700px;
        order:3;
        line-height: 26pt;
        background-color: white;
        text-align: center;
        font-size: large;
        margin-left: 20px;
        margin-right:20px;
    }
    

    .footer{
        width: 100vw;
        height: auto;
        flex-wrap: wrap;
    }
    .footercolumn{
        width: 100%;
        height: 120px;
    }
    .child-img{
        width: 100%;
        height: auto;
        /* border: 1px solid white; */
        display: flex;
    }
    .child1{
        width:95%;
        height: 100px;
        margin-left:10px;
        /* border: 1px solid yellow; */

    }
    .child2{
        width:45%;
        height: 40%;
        /* border: 1px solid green; */
    }
    
    .child-footer{
        width: 100%;
        height: 380px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* align-content: space-around; */
        flex-direction: row;
        flex-wrap:wrap;
        position: relative;
    }
    .footercopy{
        width: 100vw;
        height: 70px;
    }
}