.header-container{
    width: 100vw;
    height: 60vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    background-size: 1350px 400px;
    background-image: url("https://dxaurk9yhilm4.cloudfront.net/images/7383/jael-rodriguez-AkF5NT0sZy8-unsplash-1-1_210301_200939_35d31212c7a2d4dccdff99afa3f88af5.jpg");
}
img{    
  top: 50px;
  left: 80px;
  font-size: 18px;
}
.topright {
    position: absolute;
    top: 50px;
    right: 80px;
    font-size: 18px;

  }
h1 {
    position: absolute;
    top: 30%;
    width: 100%;
    left: 180px;
    text-align: left;
    font-size: 40px;
  }
h3{
    left:180px;
    font-size: 20px;
}
.nav,a.split  {
    float: right;
    font-size: 16px;
    padding: 10px;
    color: white;
}
.nav,a.logo{
    float:left;
    padding-left: 20px;
} 

.main{
    width: 100vw;
    height: 120vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.child{
    width: 33.1%;
    height: 50%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
}

.footer{
    
    display: flex;
    flex-direction: row;
    width:100vw;
    height:40vh;
    background-color: darkslategray;
    justify-content: center;
    flex-wrap: wrap;
}
.child-copy{
    width:100vw;
    height:10%;
    display: flex;
    background-color: darkslategrey;
    flex-direction: row;
    justify-content: flex-start;
}

.child-footer{
    width:70%;
    height: 40%;
    display: flex;
    background-color: darkslategrey;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;

}
.child-footer-new{
    width:20%;
    height:50%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    line-height: 26pt;
}

.image{
    width: 100%;
    height: 80%;
    border: 1px solid blue;
    object-fit: contain;

}
.label{
    width: 100%;
    height: 20%;
    border: 1px solid rgb(0, 255, 30);
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#imgid{
    position: relative;
}
a{
    color:white;
    font-size: large;
}
a:hover {
    text-decoration: none;
}
a:link {
    text-decoration:none;
}
#copyfooter{
    width:100vw;
    height:10vh;
    display: flex;
    text-align: right;
    background-color: darkslategrey;
    flex-direction: row;
    justify-content: flex-start;
    /* border: 1px solid green; */

}
