.header-container{
    width: 100vw;
    height: 60vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    background-size: 1350px 400px;
    background-image: url("https://dxaurk9yhilm4.cloudfront.net/images/7383/jael-rodriguez-AkF5NT0sZy8-unsplash-1-1_210301_200939_35d31212c7a2d4dccdff99afa3f88af5.jpg");
}
img{    
  top: 50px;
  left: 80px;
  font-size: 18px;
}
.topright {
    position: absolute;
    top: 50px;
    right: 80px;
    font-size: 18px;

  }
#headerimg{
    top:50px;
    left:50px;
    width: 100px;
    height: 70px;
}
.logo {
    width: 50%;
    height: 100%;
    display: flex;
    align-content: center;
    position: relative;
    left: 100px;
    top: 50px;
}
.menubar{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 40px;
    right: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    position: absolute;
    top: 30%;
    width: 100%;
    left: 100px;
    text-align: left;
    font-size: 40px;
  }
h3{
    left:180px;
    font-size: 20px;
}
.nav{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}
a.split {
    top:50px;
    float: right;
    font-size: 16px;
    padding: 25px;
    color: white;
}
a.logo{
    float:left;
    padding-left: 20px;
} 

.main{
    width: 100vw;
    height: 120vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.child{
    width: 33.1%;
    height: 50%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
}
.spanclass{
    font-size: large;
    padding: 20px;
    text-align: left;
}
.footer{
    display: flex;
    flex-direction: row;
    width:100vw;
    height:55vh;
    background-color: darkslategray;
    justify-content: center;
    flex-wrap: wrap;
}
.copyright{
    width: 100%;
    height: 20%;
    color: white;
    display: flex;
    padding-left: 150px;
    align-items: center;
    opacity: 50%;
    font-size: small;
}
.child-img{
    width: 100%;
    height: 80%;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: left;
    /* align-items:center;
    align-content: flex-start;*/
    padding-left: 50px; 
    padding-top:50px;
}

.footercolumn{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: darkslategrey;
}
.child-footer{
    /* padding-top:50px; */ 

    width: 50%;
    height: 70%;
    display: flex;
    padding-top:50px;
    background-color: darkslategray;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;

}
.child-footer-new{
    width: 33.2%;
    height: 50%;
    color: white;
    flex-direction: column;
    display: flex;
    line-height: 26pt;
}
.footercopy{
    width:100vw;
    height:10%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: darkslategray;
}
.image{
    width: 100%;
    height: 80%;
    border: 1px solid blue;
    object-fit: contain;

}
.label{
    width: 100%;
    height: 20%;
    border: 1px solid rgb(0, 255, 30);
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#imgid{
    position: relative;
}
a{
    color:white;
    font-size: large;
}
a:hover {
    text-decoration: none;
}
a:link {
    text-decoration:none;
}


@media only screen and (min-width :360px) and (max-width :480px) {
    .main{
        background-color: aqua ;
        height: auto;
    }
    .menubar{
        visibility: hidden;
    }
    .child{
        width: 100%;
       
    }
    .footer{
        width: 100vw;
        height: auto;
        flex-wrap: wrap;
    }
    .footercolumn{
        width: 100%;
        height: 120px;
    }
    .child-img{
        width: 100%;
        height: auto;
        /* border: 1px solid white; */
        display: flex;
    }
    .child1{
        width:95%;
        height: 100px;
        /* border: 1px solid yellow; */

    }
    .child2{
        width:45%;
        height: 40%;
        /* border: 1px solid green; */
    }
    
    .child-footer{
        width: 100%;
        height: 380px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* align-content: space-around; */
        flex-direction: row;
        flex-wrap:wrap;
        position: relative;
    }
    .footercopy{
        width: 100vw;
        height: 10%;
    }
}

@media only screen and (min-width :481px) and (max-width :720px) {
    .main{
        background-color: aqua ;
        height: auto;
    }
    .menubar{
        visibility: hidden;
    }
    .child{
        width: 100%;
       
    }
    .footer{
        width: 100vw;
        height: auto;
        flex-wrap: wrap;
    }
    .footercolumn{
        width: 100%;
        height: 120px;
    }
    .child-img{
        width: 100%;
        height: auto;
        /* border: 1px solid white; */
        display: flex;
    }
    .child1{
        width:95%;
        height: 100px;
        /* border: 1px solid yellow; */

    }
    .child2{
        width:45%;
        height: 40%;
        /* border: 1px solid green; */
    }
    
    .child-footer{
        width: 100%;
        height: 380px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* align-content: space-around; */
        flex-direction: row;
        flex-wrap:wrap;
        position: relative;
    }
    .footercopy{
        width: 100vw;
        height: 10%;
    }      
}
@media only screen and (min-width :769px) and (max-width :1024px) {
    .main{
        background-color: aqua ;
        height: auto;
    }
    .menubar{
        visibility: hidden;
    }
    .child{
        width: 100%;
       
    }
    .footer{
        width: 100vw;
        height: auto;
        flex-wrap: wrap;
    }
    .footercolumn{
        width: 100%;
        height: 110px;
    }
    .child-img{
        width: 100%;
        height: auto;
        /* border: 1px solid white; */
        display: flex;
    }
    .child1{
        width:38%;
        height: 95px;
        /* border: 1px solid yellow; */

    }
    .child2{
        width:30%;
        height: 65%;
        /* border: 1px solid green; */
    }
    
    .child-footer{
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* align-content: space-around; */
        flex-direction: row;
        flex-wrap:wrap;
        position: relative;
    }
    .footercopy{
        width: 100vw;
        height: 10%;
    }
}