.header-container{
    width: 100vw;
    height: 30vh;
    display: flex;
    background-color:black;
    /* background-image: url("https://dxaurk9yhilm4.cloudfront.net/images/7383/jael-rodriguez-AkF5NT0sZy8-unsplash-1-1_210301_200939_35d31212c7a2d4dccdff99afa3f88af5.jpg"); */
}

.nav{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}
.logo {
    width: 50%;
    height: 100%;
    display: flex;
    align-content: center;
    position: relative;
    left: 100px;
    top: 50px;
}
.menubar{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 40px;
    right: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.split  {
    float: right;
    font-size: 16px;
    padding: 25px;
    color: white;
}

.child{
    width: 20%;
    height: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.main{
    background-color: black;
    width: 100vw;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.image{
    width: 100%;
    height: 70%;
    border: 1px solid black;
    object-fit: cover;

}
.label{
    width: 100%;
    height: 30%;
    border: 1px solid black;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    
    display: flex;
    flex-direction: row;
    width:100vw;
    height:60vh;
    background-color: darkslategray;
    justify-content: center;
    flex-wrap: wrap;
}
.Copyright{
    width: 100%;
    height: 20%;
    color: white;
    display: flex;
    padding-left: 150px;
    align-items: center;
    opacity: 50%;
    font-size: small;
}
.child-img{
    width: 100%;
    height: 80%;
    display: flex;
    color: white;
    align-items: center;
    padding-left: 150px;
}

.footercolumn{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.child-footer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: darkslategrey;
    align-items:  center;

}
.child-footer-new{
    width: 33.2%;
    height: 50%;
    color: white;
    flex-direction: column;
    display: flex;
    line-height: 26pt;
}
a{
    color:white;
    font-size: large;
}
a:hover {
    text-decoration: none;
}
a:link {
    text-decoration:none;
}
@media only screen and (min-width :360px) and (max-width :480px) {
    
    .menubar{
        visibility: hidden;
    }
    .child{
        width: 100%;
        height: auto;
    }
    .footer{
        width: 100%;
        height: 100%;
    }
    .footercolumn{
        width: 20%;
        height: auto;
    }
    .child-footer{
        width: 100%;
        display: flex;
        position: absolute;
    }
    .child-footer-new{
        width: 50%;
        position: relative;
    }
}

@media only screen and (min-width :481px) and (max-width :720px) {
    
    .menubar{
        visibility: hidden;
    }
/*     
    .footer{
        height: 60%;
        width: 100%;
    } */
   
    .child{
        width: 40%;
        height: auto;
        display: flex;
    }
    .footer{
        height:50%;
        border: 1px solid red;
        width: 100vw;
    }
    .child-footer{
        width: 40%;
        display: flex;
        border: 1px solid yellow;

        position: absolute;
        
    }
    .child-footer-new{
        width: 20%;
        position: relative;
        border: 1px solid green;

    
    }
   
}